target/*
.settings/*
.classpath
.project
/target/
src/main/webapp/WEB-INF/config/mysql.properties
src/main/webapp/WEB-INF/resources/upload
socket/classes/*
node/compiler/java-editor/classes/*
node/compiler/c-editor/classes/*
node/compiler/python-editor/classes/*
.idea
.springBeans
LearningCommunity.iml
