/* common-style */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  border: none;
}
body {
  background: #fff;
  color: #5e5e5e;
  font: 14px/2em Microsoft YaHei, SimSun, Arial;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a:link,
a:visited {
  color: #5e5e5e;
}
a:hover {
  color: #3689b3;
}
a:active {
  color: #666;
}
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.l {
  float: left;
}
.r {
  float: right;
}
.clear {
  height: 0;
  overflow: hidden;
  clear: both;
}
.hide {
  display: none;
}
.btn.hide {
  display: none;
}
a.hidefocus {
  outline: none;
}
button.hidefocus::-moz-focus-inner {
  border: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  outline: none;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  line-height: 32px;
}
h5 {
  font-size: 14px;
  line-height: 28px;
}
/*border && padding*/
.img_border {
  border: 4px solid #fff;
  border-radius: 1px;
}
.bb {
  border-bottom: 1px solid #d2d2d2;
}
.bt {
  border-top: 1px solid #d2d2d2;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p15 {
  padding: 0 15px;
}
/* css3 style */
.text-center {
  text-align: center;
}
/* header */
#header {
  background-color: #303a40;
  min-height: 60px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#header #logo {
  margin: 0 20px 0 0;
  float: left;
}
#header .header-menu .nav-item li {
  float: left;
  width: 80px;
}
#header .header-menu .nav-item li a {
  position: relative;
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
}
#header .header-menu .nav-item li a.active {
  color: #fff;
  background-color: #3689b3;
}
#header .header-menu .nav-item li a:hover {
  color: #fff;
  background-color: #425a66;
}
#header #search-area {
  float: right;
  position: relative;
  width: 240px;
  height: 30px;
  margin: 15px 0;
  margin-right: 20px;
  background: #3f4f49;
}
#header #search-area .search-input {
  padding: 5px 10px;
  width: 190px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  border: 0;
  background: #3f4f49;
  color: #14191e;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#header #search-area .search-input:focus {
  background: #52605b;
}
#header #search-area .btn_search {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: url(/LearningCommunity/resources/images/gsearch-sprite.png) no-repeat 0 0;
}
#header #login-area {
  float: right;
  position: relative;
}
#header #login-area .header-unlogin li {
  float: left;
  width: 80px;
}
#header #login-area .header-unlogin li a {
  position: relative;
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
}
#header #login-area .header-unlogin li a.active {
  color: #fff;
  background-color: #3689b3;
}
#header #login-area .header-unlogin li a:hover {
  color: #fff;
  background-color: #425a66;
}
#header #login-area .header-login li {
  float: left;
}
#header #login-area .header-login .user-card {
  position: absolute;
  left: 0;
  top: 100%;
  width: 140px;
  padding-top: 10px;
  z-index: 1000;
  text-align: center;
  visibility: hidden;
}
#header #login-area .header-login .user-card .card-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#header #login-area .header-login .user-card .card-inner .card-top {
  padding: 10px 20px;
  background: url(/LearningCommunity/resources/images/223.jpg);
  background-position: -46px -6px;
}
#header #login-area .header-login .user-card .card-inner .card-top img {
  float: left;
  margin-right: 10px;
}
#header #login-area .header-login .user-card .card-inner .card-top span {
  display: block;
  color: #fff;
  padding-top: 3px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header #login-area .header-login .user-card .card-inner .card-link li {
  border-bottom: 1px solid #edf1f2;
  float: none;
}
#header #login-area .header-login .user-card .card-inner .card-link li a {
  padding: 10px 20px;
  display: block;
}
#header #login-area .header-login .user-card .card-inner .card-link li a:hover {
  color: #5e5e5e;
}
#header #login-area .header-login .user-card .card-inner .card-link li:hover {
  background-color: #efefef;
}
#header #login-area .header-login .user-card .card-inner .card-arr {
  position: absolute;
  right: 40px;
  top: 2px;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #88cbf5 transparent;
  border-style: solid;
}
#header #login-area .header-login .user-avatar-list:hover .user-card {
  visibility: visible;
}
#header #login-area .header-login .user-avatar {
  display: block;
  height: 60px;
  line-height: 60px;
  width: 60px;
  color: #787d82;
  text-align: center;
  float: left;
}
#header #login-area .header-login .user-avatar img {
  border: 1px solid #adb0b1;
  vertical-align: middle;
  display: inline-block;
  margin-top:14px;
}
#header #login-area .header-login .notification {
  float: left;
}
#header #login-area .header-login .notification a {
  background: url(/LearningCommunity/resources/images/login_icon.png) no-repeat;
  background-position: 18px -212px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  display: block;
}
#header #login-area .header-login .notification:hover {
  background-color: #425a66;
}
#main .course-tool-bar {
  position: relative;
  margin-top: -1px;
  padding-right: 15px;
  height: 40px;
  background-color: #f9f9f9;
  border-top: 1px solid #d0d6d9;
  font-size: 14px;
}
#main .course-tool-bar {
  position: relative;
  margin-top: -1px;
  padding-right: 15px;
  height: 40px;
  background-color: #f9f9f9;
  border-top: 1px solid #d0d6d9;
  font-size: 14px;
}
#main .course-tool-bar .tool-left a {
  margin: 0 20px;
  line-height: 40px;
}
#main .course-nav-box .course-nav-hd {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 15px 0;
  border-bottom: 1px solid #d0d6d9;
}
#main .course-nav-box .course-nav-base-line {
  margin-top: 0px;
  padding: 15px 0 5px;
  border-bottom: 1px solid #edf1f2;
}
#main .course-nav-box .course-nav-base-line .hd {
  width: 56px;
  height: 20px;
  line-height: 25px;
  font-size: 16px;
  color: #787d82;
  text-align: right;
}
#main .course-nav-box .course-nav-base-line .bd {
  margin-left: 70px;
}
#main .course-nav-box .course-nav-base-line .bd li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 5px;
  border-radius: 2px;
}
#main .course-nav-box .course-nav-base-line .bd li a {
  padding: 2px 15px;
}
#main .course-nav-box .course-nav-base-line .bd li.on {
  background: #49d;
}
#main .course-nav-box .course-nav-base-line .bd li.on a {
  color: #fff;
}
#main .course-nav-box .course-nav-base-line .bd li:hover {
  background: #dce5ec;
}
#main .course-nav-box .course-nav-base-line .bd li:hover a {
  color: #5e5e5e;
}
#main .course-list {
  margin-top: 20px;
}
#main .course-list .all-course-list {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}
#main .course-list .all-course-list .course-item {
  padding-left: 10px;
  padding-right: 10px;
  width: 23%;
  float: left;
}
#main .course-list .all-course-list .course-item .widget-course {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #eee;
  background: #f3f3f3;
  height: 282px;
  border-radius: 2px;
  overflow: hidden;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-banner {
  border-bottom: 1px solid #eee;
  width: 100%;
  background-color: #fff;
  height: 135px;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info {
  padding: 1px 15px 0;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .title {
  margin: 0;
  font-size: 16px;
  max-height: 38px;
  overflow: hidden;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .title a {
  color: #000;
  font-weight: bold;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info #join-right-now {
  position: absolute;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .widget-course-meta {
  padding: 0;
  margin: 8px 0 0;
  font-size: 13px;
  color: #999;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .widget-course-meta li {
  line-height: 20px;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .widget-course-meta li.course-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40px;
}
#main .course-list .all-course-list .course-item .widget-course .widget-course-info .widget-course-meta li.course-student-number {
  color: #787d82;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 21px 0;
  border-radius: 3px;
}
.pagination li {
  display: inline;
}
.pagination li:first-child a {
  margin-left: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination li a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.5;
  text-decoration: none;
  color: #3689b3;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination .active a {
  z-index: 2;
  color: #fff;
  background-color: #3689b3;
  border-color: #3689b3;
  cursor: default;
}
#footer {
  border-top: 1px solid #EEE;
  padding: 40px 0;
  margin-top:20px;
  color: #888;
  line-height: 1.6;
  vertical-align: top;
}
#footer .copyright {
  text-align: center;
  font-size: 13px;
}
.modal {
  position: fixed;
  left: 35%;
  width: 350px;
  background-color: #fff;
  z-index: 2001;
  top: 80px;
  border: 1px solid #999;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.modal .modal-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
.modal .modal-header .register {
  color: #999;
}
.modal .modal-header .register strong {
  font-weight: bold;
  color: #49d;
}
.modal .modal-body {
  padding: 15px 0 20px 0;
}
.modal .modal-body .control-group {
  padding: 10px 25px;
  -webkit-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}
.modal .modal-body .control-group.active {
  border-left: 4px solid #37a0fd;
  background-color: #f1f1f1;
}
.modal .modal-body .control-group.active input {
  background-color: #fff;
  padding: 0 0 0 40px;
}
.modal .modal-body .control-group.active .user-id input {
  background-position: 8px -264px;
}
.modal .modal-body .control-group.active .user-pw input {
  background-position: 8px -182px;
}
.modal .modal-body .control-group.active .user-nkn input {
  background-position: 8px -102px;
}
.modal .modal-body .control-group.error {
  background-color: #f1f1f1;
  border-left: 4px solid red;
}
.modal .modal-body .control-group input {
  width: 265px;
  height: 35px;
  border: 1px solid #ccc;
  padding: 0 0 0 40px;
  font-size: 14px;
  background: url(/LearningCommunity/resources/images/login_icon.png) no-repeat;
  border-radius: 2px;
  color: #999;
  -webkit-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}
.modal .modal-body .control-group input#remember {
  width: 15px;
  height: 15px;
  padding-top: 5px;
}
.modal .modal-body .errorMsg{
  font-size: 13px;
  padding: 0 30px;
  color: rgb(200, 32, 44);	
}
.modal .modal-body .control-group .btn-login {
  width: 300px;
  padding: 8px 18px;
  font-weight: bold;
}
.modal .modal-body .control-group .btn-login:hover {
  background-color: #37a0fd;
}
.modal .modal-body .control-group .btn-register {
  width: 300px;
  padding: 8px 18px;
  font-weight: bold;
}
.modal .modal-body .control-group .btn-register:hover {
  background-color: #37a0fd;
}
.modal .modal-body .control-group .user-id input {
  background-position: 8px -224px;
}
.modal .modal-body .control-group .user-pw input {
  background-position: 8px -142px;
}
.modal .modal-body .control-group .user-nkn input {
  background-position: 8px -62px;
}
.modal .modal-body .control-group .user-vldtcd .verify-img {
  width: 80px;
  height: 35px;
  vertical-align: top;
}
.modal .modal-body .control-group .user-vldtcd .verify-extra {
  line-height: 20px;
}
.modal .modal-body .control-group .user-vldtcd .verify-extra a {
  color: #49d;
}
.modal .modal-body .control-group .user-vldtcd input {
  margin-right: 10px;
  background: #fff;
  width: 140px;
  padding: 0 0 0 10px;
}
.modal .modal-footer {
  padding: 0 25px 20px;
}
.modal .modal-footer .line-area {
  border-top: #E0E0E0  1px solid;
  color: #aaa;
  clear: both;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  height: 0;
  line-height: 0;
}
.modal .modal-footer .outside-login h4 {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0;
}
.modal .modal-footer .outside-login .outside-list {
  padding: 8px 0 0 0;
  margin: 0;
}
.modal .modal-footer .outside-login .outside-list li {
  margin: 0 10px 0 0;
}
.modal .modal-footer .outside-login .outside-list li a {
  display: inline-block;
  background: url(/LearningCommunity/resources/images/outside_icon_30.png) no-repeat;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  outline: none;
}
.modal .modal-footer .outside-login .outside-list li a.icon-outside-weibo {
  background-position: 0 -40px;
}
.modal .modal-footer .outside-login .outside-list li a.icon-outside-weibo:hover {
  background-position: 0px 0px;
}
.modal .modal-footer .outside-login .outside-list li a.icon-outside-qq {
  background-position: -80px -40px;
}
.modal .modal-footer .outside-login .outside-list li a.icon-outside-qq:hover {
  background-position: -80px 0px;
}
#subheader {
  padding: 15px 0;
  background: #f6f6f6;
}
#subheader .breadcrumb {
  margin: 0 0 10px;
  padding: 0;
  background-color: transparent;
}
#subheader .breadcrumb li {
  font-size: 13px;
  display: inline-block;
}
#subheader .breadcrumb li a {
  color: #333;
}
#subheader .breadcrumb li.active a {
  color: #777;
}
#subheader .breadcrumb li + li:before {
  content: "";
  display: inline-block;
  margin: 0 10px 0 5px;
  padding: 0;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 0;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#subheader .title {
  margin: 0;
}
#subheader .title a {
  color: #333;
  font-size: 24px;
}
#view-main {
  margin-top: 30px;
}
#view-main .course-summary {
  margin: 0;
  background: #f3f3f3;
}
#view-main .course-summary .course-summary-pic {
  width: 50%;
  float: left;
  padding: 0 15px;
}
#view-main .course-summary .course-summary-pic img {
  width: 100%;
}
#view-main .course-summary .course-summary-info {
  width: 25%;
  float: left;
  min-height: 210px;
  padding: 25px  15px 0 15px;
}
#view-main .course-summary .course-summary-info th {
  width: 75px;
  color: #666;
  font-weight: normal;
}
#view-main .course-summary .course-summary-info td {
  color: #333333;
  vertical-align: top;
}
#view-main .course-summary .course-summary-statics {
  width: 16%;
  float: left;
  padding: 25px 15px;
}
#view-main .course-summary .course-summary-statics .statics-group .statics-num {
  margin: 13px 0;
  color: #6699ff;
}
#view-main .course-summary .course-summary-statics .statics-group .statics-num span {
  font-size: 40px;
}
#view-main .course-summary .course-summary-more {
  float: left;
  width: 45%;
}
#view-main .course-summary .course-summary-more #join-right-now {
  margin-left: 15px;
}
#view-main .course-summary .course-summary-more .share {
  overflow: hidden;
  height: 24px;
  margin-top: 8px;
  margin-right: 10px;
}
#view-main .course-summary .course-summary-more .share .d {
  float: left;
  font-size: 14px;
  color: #828282;
  line-height: 24px;
}
#view-main .course-summary .course-summary-more .share a {
  font-size: 12px;
  color: #999;
  float: left;
  line-height: 20px;
  cursor: pointer;
  background: none;
  padding-left: 0;
  width: 27px;
  height: 22px;
  border: 1px solid #E4E4E4;
  margin: 0 0 0 -1px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(/LearningCommunity/resources/images/school.png);
}
#view-main .course-summary .course-summary-more .share a.bds_qzone {
  background-position: -615px -58px;
}
#view-main .course-summary .course-summary-more .share a.bds_qzone:hover {
  background-position: -673px -58px;
}
#view-main .course-summary .course-summary-more .share a.bds_renren {
  background-position: -485px -83px;
}
#view-main .course-summary .course-summary-more .share a.bds_renren:hover {
  background-position: -369px -83px;
}
#view-main .course-summary .course-summary-more .share a.bds_tsina {
  background-position: -456px -83px;
}
#view-main .course-summary .course-summary-more .share a.bds_tsina:hover {
  background-position: -664px -32px;
}
#view-main .course-summary .course-summary-more .share a.bds_weixin {
  background-position: -427px -83px;
}
#view-main .course-summary .course-summary-more .share a.bds_weixin:hover {
  background-position: -398px -83px;
}
#view-main .course-summary .course-summary-more .share a.bds_more {
  background-position: -693px -32px;
}
#view-main .course-summary .course-summary-more .share a.bds_more:hover {
  background-position: -644px -58px;
}
#view-main .course-content {
  margin-top: 20px;
}
#view-main .course-content .content-area {
  padding: 0 20px 20px;
  background: #f3f3f3;
  width: 720px;
  min-height: 600px;
  float: left;
}
#view-main .course-content .content-area .course-menu {
  border-bottom: 1px solid #D1D6DA;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}
#view-main .course-content .content-area .course-menu li {
  float: left;
  height: 100%;
  text-align: center;
  width: 120px;
}
#view-main .course-content .content-area .course-menu li a {
  display: block;
  font-size: 14px;
}
#view-main .course-content .content-area .course-menu li a.ui-tabs-active {
  color: #3689b3;
  border-bottom: 2px solid #3689b3;
}
#view-main .course-content .content-area .course-chapter-list {
  padding: 0 20px;
}
#view-main .course-content .content-area .course-chapter-list h3 {
  background: #D6E1E8;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  color: #303538;
}
#view-main .course-content .content-area .course-chapter-list h3:hover {
  background-color: #dddce0;
}
#view-main .course-content .content-area .course-chapter-list h3 span {
  display: block;
  float: right;
  width: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #b4bbbf;
  text-align: center;
  margin-right: 15px;
}
#view-main .course-content .content-area .course-chapter-list h3 strong {
  cursor: pointer;
  display: block;
  float: left;
  padding: 0 0 0 20px;
  width: 345px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#view-main .course-content .content-area .course-chapter-list .chapter a {
  cursor: pointer;
}
#view-main .course-content .content-area .course-chapter-list .chapter li {
  height: 40px;
  line-height: 40px;
  margin-bottom: 2px;
}
#view-main .course-content .content-area .course-chapter-list .chapter li .chapter-item {
  color: #60686b;
  height: 40px;
  overflow: hidden;
  padding: 0 0 0 28px;
  word-break: break-all;
  border-bottom: 1px solid #eee;
    display: block;
    background: url(/LearningCommunity/resources/images/learnicon.png) no-repeat 10px -121px;
}
#view-main .course-content .content-area .course-chapter-list .chapter li .chapter-item:hover{
	background-color: #dddce0;
}
#view-main .course-content .content-area .course-chapter-list .chapter li .chapter-item.locked {
	cursor: not-allowed;
}
#view-main .course-content .content-area .course-chapter-list .chapter li .chapter-item.locked span.lock {
  width: 24px;
  height: 40px;
  display: inline-block;
  background: url(/LearningCommunity/resources/images/login_icon.png) no-repeat;
  background-position: 0 -140px;
  margin-right:10px;
}
#view-main .course-content .sidebar {
  width: 260px;
  float: right;
  min-height: 600px;
}
#view-main .course-content .sidebar dl {
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding: 0 20px 1px;
}
#view-main .course-content .sidebar dl dt {
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e3e6e8;
}
#view-main .course-content .sidebar dl dd {
  color: #656e7e;
  font-size: 12px;
  line-height: 2em;
  word-break: break-all;
  white-space: normal;
  margin: 20px 0;
}
#view-main .course-content .sidebar dl dd .course-name {
  float: right;
  width: 102px;
  font-size: 12px;
  color: #60696b;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-all;
}
#view-main .course-content .sidebar dl dd ul li {
  height: 54px;
  margin: 12px 0;
}
#view-main .course-content .sidebar dl dd ul li img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
#view-main .course-content .sidebar dl dd ul li h3 {
  margin-left: 50px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#question .question-main {
  width: 720px;
  float: left;
}
#question .question-main .main-title {
  margin: 30px 0 25px;
  font-size: 18px;
  vertical-align: middle;
}
#question .question-main .main-tab {
  height: 40px;
  line-height: 39px;
  margin: 20px 0 0;
  border-top: 1px solid #d0d6d9;
  position: relative;
  background-color: #edf1f2;
  z-index: 2;
}
#question .question-main .main-tab .question-tab {
  float: left;
  padding: 0 30px;
  font-size: 12px;
}
#question .question-main .main-list .question-item {
  padding: 10px;
  border-bottom: 1px solid #e3e5e5;
  position: relative;
}
#question .question-main .main-list .question-item .replynumber {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 51px;
  text-align: center;
}
#question .question-main .main-list .question-item .replynumber.noanswernum {
  color: #787d82;
}
#question .question-main .main-list .question-item .replynumber.hasanswer .ys {
  color: #009a61;
}
#question .question-main .main-list .question-item .replynumber .ys {
  width: 50px;
  height: 31px;
  margin: 10px 0;
}
#question .question-main .main-list .question-item .replynumber .ys .number {
  line-height: 12px;
  height: 12px;
  padding-bottom: 7px;
}
#question .question-main .main-list .question-item .question-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}
#question .question-main .main-list .question-item .question-title a {
  color: #333;
}
#question .question-main .main-list .question-item .question-footer {
  padding: 10px 0;
  color: #999;
  line-height: 24px;
}
#question .question-main .main-list .question-item .question-footer .question-author {
  margin-right: 10px;
}
#question .question-main .main-list .question-item .question-footer .question-time {
  margin-right: 10px;
}
#question .question-main .main-list .question-item .question-footer .question-tag-list .list-tag {
  color: #787d82;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
  margin-right: 10px;
  padding: 0 10px;
  display: inline-block;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#question .question-main .main-list .question-item .question-footer .question-tag-list .list-tag:hover {
  background-color: #d0d6d9;
}
#question .question-main .qa-header {
  position: relative;
  height: 40px;
  padding-top: 20px;
}
#question .question-main .qa-header .qa-author {
  font-weight: bold;
  color: #3689b3;
}
#question .question-main .qa-header img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
#question .question-main .qa-content {
  margin-top: 10px;
}
#question .question-main .qa-content .qa-content-addon {
  position: relative;
  padding-top: 15px;
  font-size: 13px;
  color: #999;
}
#question .question-main .qa-content .qa-content-addon .qa-createtime {
  margin-right: 20px;
  color: #999;
  line-height: 24px;
}
#question .question-main .qa-content .qa-content-addon .qa-total-comment,
#question .question-main .qa-content .qa-content-addon .qa-view-num {
  margin-left: 20px;
  line-height: 24px;
  color: #999;
}
#question .question-main .qa-content .qa-content-addon .taglist .tag {
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  margin-right: 5px;
  padding: 0 10px;
  display: inline-block;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #787d82;
}
#question .question-main .qa-content .qa-content-addon .taglist .tag:hover {
  background-color: #d0d6d9;
  color: #787d82;
}
#question .question-main .qa-answer .qa-answer-title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
}
#question .question-main .qa-answer .qa-answer-title h2 {
  color: #333333;
}
#question .question-main .qa-answer .qa-answer-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-header {
  position: relative;
  height: 40px;
  padding-top: 20px;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-header .qa-author {
  font-weight: bold;
  color: #3689b3;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-header .answer-time {
  margin-left: 5px;
  color: #777;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-header img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-content {
  margin-top: 10px;
}
#question .question-main .qa-answer .qa-answer-item .qa-answer-content .qa-answer-content-addon {
  color: #999;
}
#question .question-main .qa-write .qa-write-content {
	margin-bottom:20px;
}
#question .question-main .qa-write .qa-write-header h2{
	margin: 10px 0;
}
#question .question-main .qa-write .qa-write-content button{
	margin-top:10px;
}
#question .question-sidebar {
  width: 260px;
  float: right;
}
#question .question-sidebar .sidebar-item {
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}
#question .question-sidebar .sidebar-item .item-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
#question .question-sidebar .sidebar-item .item-title a {
  color: #3689b3;
  margin-left: 3px;
}
#question .question-sidebar .sidebar-item .user-info .user-img img {
  width: 40px;
  height: 40px;
}
#question .question-sidebar .sidebar-item .user-info .user-img .username {
}
#question .question-sidebar .sidebar-item .user-info .user-statics a {
  font-weight: bold;
}
#question .question-sidebar .sidebar-item .user-info .user-statics p {
  font-size: 16px;
  margin-top: 5px;
}
#question .question-sidebar .sidebar-item .user-info .user-statics.statics-mid {
  border-left: 1px solid #d0d6d9;
  border-right: 1px solid #d0d6d9;
  margin: 0 20px;
  padding: 0 30px;
}
#question .question-sidebar .sidebar-item .taglist .tag {
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  margin-right: 5px;
  padding: 0 10px;
  display: inline-block;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#question .question-sidebar .sidebar-item .taglist .tag a {
  color: #787d82;
}
#question .question-sidebar .sidebar-item .taglist .tag:hover {
  background-color: #d0d6d9;
}
#question .question-sidebar .sidebar-item .taglist .tag:hover a {
  color: #787d82;
}
#question .question-sidebar .sidebar-item .question-hot .question-item {
  margin-bottom: 8px;
}
#question .question-sidebar .sidebar-item .question-hot .question-item a {
  margin-right: 6px;
  word-break: break-word;
  color: #3689b3;
}
#question .question-sidebar .sidebar-item .question-hot .question-item .text-muted {
  display: inline-block;
  font-size: 13px;
  color: #777;
}
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
#ask h4 {
  font-size: 18px;
  margin: 20px 0 10px 0;
}
#ask form {
  position: relative;
}
#ask form #myTitle {
  display: block;
  width: 97%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: 20px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
  margin-bottom: 15px;
}
#ask form .bootstrap-tagsinput {
  width: 99%;
  height: 25px;
}
#ask form .bootstrap-tagsinput .tag {
  color: #0798BA;
  background-color: #E7F2ED;
  display: inline-block;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}
#ask form #cke_content {
  width: 100%;
}
#ask form #btn-ask {
  margin-top: 10px;
}
#complete .container #info-form {
  width: 650px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#complete .container #info-form .avatar-wrap {
  position: relative;
}
#complete .container #info-form .avatar-wrap #upload {
  width: 160px;
  position: absolute;
  bottom: 0;
  height: 45px;
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
}
#complete .container #info-form .avatar-wrap .avatar-btn {
  display: block;
  margin-top: 5px;
}
#complete .container #info-form .avatar-wrap .avatar-inner img {
  width: 160px;
  height: 160px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
#complete .container #info-form .file-wrap {
  border-left: 1px solid #d0d6d9;
  margin-left: 40px;
  padding-left: 20px;
}
#complete .container #info-form .file-wrap label {
  width: 58px;
  text-align: right;
  height: 40px;
  line-height: 40px;
  float: left;
  margin-right: 10px;
}
#complete .container #info-form .file-wrap input[type="text"] {
  width: 325px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 20px;
  padding: 8px 16px;
}
#complete .container #info-form .file-wrap textarea {
  border: 1px solid #ccc;
  height: 90px;
  width: 335px;
  padding: 10px;
}
#complete .container #info-form .file-wrap .file-form-group {
  clear: both;
  padding: 10px 0;
}
#complete .container #info-form .file-wrap #complete-submit {
  width: 100%;
  font-family: Microsoft YaHei, SimSun, Arial;
}
#blog .blog-main {
  width: 720px;
  float: left;
}
#blog .blog-main .main-title {
  margin: 30px 0 25px;
  font-size: 18px;
  vertical-align: middle;
}
#blog .blog-main .main-tab {
  height: 40px;
  line-height: 39px;
  margin: 20px 0 0;
  border-top: 1px solid #d0d6d9;
  position: relative;
  background-color: #edf1f2;
  z-index: 2;
}
#blog .blog-main .main-tab .blog-tab {
  float: left;
  padding: 0 30px;
  font-size: 12px;
}
#blog .blog-main .main-list {
  padding: 0 10px;
}
#blog .blog-main .main-list .blog-item {
  padding: 10px 0;
  border-bottom: 1px solid #e3e5e5;
  position: relative;
}
#blog .blog-main .main-list .blog-item .replynumber {
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 0px;
  height: 51px;
  text-align: center;
}
#blog .blog-main .main-list .blog-item .replynumber.noanswernum {
  color: #787d82;
}
#blog .blog-main .main-list .blog-item .replynumber.hasanswer .ys {
  color: #009a61;
}
#blog .blog-main .main-list .blog-item .replynumber .ys {
  width: 50px;
  height: 31px;
  margin: 10px 0;
}
#blog .blog-main .main-list .blog-item .replynumber .ys .number {
  line-height: 12px;
  height: 12px;
  padding-bottom: 7px;
}
#blog .blog-main .main-list .blog-item .blog-title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}
#blog .blog-main .main-list .blog-item .blog-title a {
  color: #333;
}
#blog .blog-main .main-list .blog-item .blog-footer {
  padding: 10px 0;
  color: #999;
  line-height: 24px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-author {
  margin-right: 10px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-author img {
  float: left;
  margin-right: 10px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-addon {
  font-size: 12px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-addon span {
  margin-right: 5px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-time {
  margin-right: 10px;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-tag-list .list-tag {
  color: #787d82;
  height: 20px;
  line-height: 20px;
  margin-top: 2px;
  margin-right: 10px;
  padding: 0 10px;
  display: inline-block;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
#blog .blog-main .main-list .blog-item .blog-footer .blog-tag-list .list-tag:hover {
  background-color: #d0d6d9;
}
#blog .blog-main .blog-content {
  padding: 0 10px;
}
#blog .blog-main .blog-content .blog-content-wrapper {
  margin: 30px 0 20px 0;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon {
  margin-top: 10px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .taglist li {
  display: inline-block;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .taglist .tag {
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  margin-right: 5px;
  padding: 0 10px;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #787d82;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon span{
	margin-right:5px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .taglist .tag:hover {
  background-color: #d0d6d9;
  color: #787d82;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share {
  overflow: hidden;
  height: 24px;
  margin-top: 8px;
  margin-right: 10px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share .d {
  float: left;
  font-size: 14px;
  color: #828282;
  line-height: 24px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a {
  font-size: 12px;
  color: #999;
  float: left;
  line-height: 20px;
  cursor: pointer;
  background: none;
  padding-left: 0;
  width: 27px;
  height: 22px;
  border: 1px solid #E4E4E4;
  margin: 0 0 0 -1px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(/LearningCommunity/resources/images/school.png);
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_qzone {
  background-position: -615px -58px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_qzone:hover {
  background-position: -673px -58px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_renren {
  background-position: -485px -83px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_renren:hover {
  background-position: -369px -83px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_tsina {
  background-position: -456px -83px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_tsina:hover {
  background-position: -664px -32px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_weixin {
  background-position: -427px -83px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_weixin:hover {
  background-position: -398px -83px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_more {
  background-position: -693px -32px;
}
#blog .blog-main .blog-content .blog-content-wrapper .blog-content-addon .share a.bds_more:hover {
  background-position: -644px -58px;
}
#blog .blog-main .blog-comment .blog-comment-title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  color: #333;
  font-weight: bold;
}
#blog .blog-main .blog-comment .blog-comment-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-header {
  position: relative;
  height: 40px;
  padding-top: 20px;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-header .blog-comment-author {
  font-weight: bold;
  color: #3689b3;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-header .answer-time {
  margin-left: 5px;
  color: #777;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-header img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-content {
  margin-top: 10px;
}
#blog .blog-main .blog-comment .blog-comment-item .blog-comment-content .blog-comment-content-addon {
  color: #999;
}
#blog .blog-main .blog-write .blog-write-header h2{
	margin: 10px 0;
}
#blog .blog-main .blog-write .blog-write-content button{
	  margin-top: 10px;
}
#blog .blog-sidebar {
  width: 260px;
  float: right;
}
#blog .blog-sidebar .sidebar-item {
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
}
#blog .blog-sidebar .sidebar-item .item-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}
#blog .blog-sidebar .sidebar-item .item-title a {
  color: #3689b3;
  margin-left: 3px;
}
#blog .blog-sidebar .sidebar-item .user-info .user-img img {
  width: 40px;
  height: 40px;
  display: inline-block;
}
#blog .blog-sidebar .sidebar-item .user-info .user-img .username {
  margin-top: -30px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
#blog .blog-sidebar .sidebar-item .user-info .user-statics a {
  font-weight: bold;
}
#blog .blog-sidebar .sidebar-item .user-info .user-statics p {
  font-size: 16px;
  margin-top: 5px;
}
#blog .blog-sidebar .sidebar-item .user-info .user-statics.statics-mid {
  border-right: 1px solid #d0d6d9;
  margin: 0 20px;
  padding: 0 30px;
}
#blog .blog-sidebar .sidebar-item .taglist .tag {
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  margin-right: 5px;
  padding: 0 10px;
  background: #edf1f2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: #787d82;
}
#blog .blog-sidebar .sidebar-item .taglist .tag:hover {
  background-color: #d0d6d9;
  color: #787d82;
}
#blog .blog-sidebar .sidebar-item .taglist span {
  font-size: 13px;
  color: #777777;
}
#blog .blog-sidebar .sidebar-item .blog-hot-author .author-item {
  margin-bottom: 8px;
}
#blog .blog-sidebar .sidebar-item .blog-hot-author .author-item strong a {
  display: block;
  font-weight: bold;
  line-height: 20px;
}
#blog .blog-sidebar .sidebar-item .blog-hot-author .author-item .user-avatar {
  margin-right: 10px;
}
#blog .blog-sidebar .sidebar-item .blog-hot-author .author-item .text-muted {
  font-size: 13px;
  line-height: 20px;
  color: #777;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
}
.btn {
  right: 15px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  border-color: #49d;
  background-color: #49d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
.btn-default {
  color: #000 !important;
  border: 1px solid #ccc;
  background-color: #fff;
}
.btn-default:hover {
  background-color: #ddd;
}
.avatar-32 {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.avatar-40 {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

