/* common-style */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
  border: none;
}
body {
  background: #fff;
  color: #5e5e5e;
  font: 14px/2em Microsoft YaHei, SimSun, Arial;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a:link,
a:visited {
  color: #5e5e5e;
}
a:hover {
  color: #3689b3;
}
a:active {
  color: #666;
}
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.l {
  float: left;
}
.r {
  float: right;
}
.clear {
  height: 0;
  overflow: hidden;
  clear: both;
}
.hide {
  display: none;
}
.btn.hide {
  display: none;
}
a.hidefocus {
  outline: none;
}
button.hidefocus::-moz-focus-inner {
  border: none;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  outline: none;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
  line-height: 32px;
}
h5 {
  font-size: 14px;
  line-height: 28px;
}
/*border && padding*/
.img_border {
  border: 4px solid #fff;
  border-radius: 1px;
}
.bb {
  border-bottom: 1px solid #d2d2d2;
}
.bt {
  border-top: 1px solid #d2d2d2;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.p15 {
  padding: 0 15px;
}
/* css3 style */
.text-center {
  text-align: center;
}
/* header */
#header {
  background-color: #303a40;
  min-height: 60px;
  height: 60px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#header #logo {
  margin: 0 20px 0 0;
  float: left;
}
#header .header-menu .nav-item li {
  float: left;
  width: 80px;
}
#header .header-menu .nav-item li a {
  position: relative;
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
}
#header .header-menu .nav-item li a.active {
  color: #fff;
  background-color: #3689b3;
}
#header .header-menu .nav-item li a:hover {
  color: #fff;
  background-color: #425a66;
}
#header #search-area {
  float: right;
  position: relative;
  width: 240px;
  height: 30px;
  margin: 15px 0;
  margin-right: 20px;
  background: #3f4f49;
}
#header #search-area .search-input {
  padding: 5px 10px;
  width: 190px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  border: 0;
  background: #3f4f49;
  color: #14191e;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#header #search-area .search-input:focus {
  background: #52605b;
}
#header #search-area .btn_search {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: url(/LearningCommunity/resources/images/gsearch-sprite.png) no-repeat 0 0;
}
#header #login-area {
  float: right;
  position: relative;
}
#header #login-area .header-unlogin li {
  float: left;
  width: 80px;
}
#header #login-area .header-unlogin li a {
  position: relative;
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
}
#header #login-area .header-unlogin li a.active {
  color: #fff;
  background-color: #3689b3;
}
#header #login-area .header-unlogin li a:hover {
  color: #fff;
  background-color: #425a66;
}
#header #login-area .header-login li {
  float: left;
}
#header #login-area .header-login .user-card {
  position: absolute;
  left: 0;
  top: 100%;
  width: 140px;
  padding-top: 10px;
  z-index: 1000;
  text-align: center;
  visibility: hidden;
}
#header #login-area .header-login .user-card .card-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#header #login-area .header-login .user-card .card-inner .card-top {
  padding: 10px 20px;
  background: url(/LearningCommunity/resources/images/223.jpg);
  background-position: -46px -6px;
}
#header #login-area .header-login .user-card .card-inner .card-top img {
  float: left;
  margin-right: 10px;
}
#header #login-area .header-login .user-card .card-inner .card-top span {
  display: block;
  color: #fff;
  padding-top: 3px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header #login-area .header-login .user-card .card-inner .card-link li {
  border-bottom: 1px solid #edf1f2;
  float: none;
}
#header #login-area .header-login .user-card .card-inner .card-link li a {
  padding: 10px 20px;
  display: block;
}
#header #login-area .header-login .user-card .card-inner .card-link li a:hover {
  color: #5e5e5e;
}
#header #login-area .header-login .user-card .card-inner .card-link li:hover {
  background-color: #efefef;
}
#header #login-area .header-login .user-card .card-inner .card-arr {
  position: absolute;
  right: 40px;
  top: 2px;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #88cbf5 transparent;
  border-style: solid;
}
#header #login-area .header-login .user-avatar-list:hover .user-card {
  visibility: visible;
}
#header #login-area .header-login .user-avatar {
  display: block;
  height: 60px;
  line-height: 60px;
  width: 60px;
  color: #787d82;
  text-align: center;
  float: left;
    margin-top: 15px;
}
#header #login-area .header-login .user-avatar img {
  border: 1px solid #adb0b1;
  vertical-align: middle;
  display: inline-block;
}
#header #login-area .header-login .notification {
  float: left;
}
#header #login-area .header-login .notification a {
  background: url(/LearningCommunity/resources/images/login_icon.png) no-repeat;
  background-position: 18px -212px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  display: block;
}
#header #login-area .header-login .notification:hover {
  background-color: #425a66;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
}
.btn {
  right: 15px;
  bottom: 15px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
}
.btn-default {
  color: #000 !important;
  border: 1px solid #ccc;
  background-color: #fff;
}
.btn-default:hover {
  background-color: #ddd;
}
.btn-primary {
  border-color: #49d;
  background-color: #49d;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
.avatar-20 {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.avatar-32 {
  width: 32px;
  height: 32px;
  border-radius: 3px;
}
.avatar-40 {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
#run {
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
}
#run #text {
  width: 50%;
  overflow:auto;
  height: 100%;
  float: left;
}
#run #text .textbody {
  padding: 0 40px 20px 40px;
  width: 100%;
}
#run #text .textbody .page-header h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#run #text .textbody .page-header p {
  margin: 0 0 10px;
}
#run #editor {
  position: relative;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;
  float: left;
}
#run #editor #laboratory {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}
#run #editor #laboratory #java-lab {
  width: 100%;
  height: 100%;
}
#run #editor #laboratory #java-lab #laboratory {
  font-size: 16px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}
.nav-tabs li {
  float: left;
  margin-bottom: -1px;
  position: relative;
  display: block;
}
.nav-tabs li:hover a {
  background-color: #eeeeee;
}
.nav-tabs li.active a {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs li a {
  border-radius: 0;
  color: #337ab7;
  margin-right: 2px;
  line-height: 1.42857143;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: block;
}

.clear{
    clear:both;
}
.chat-box{
	display:none;
	position:absolute;
    width: 720px;
    height: 490px;
    overflow: hidden;
    border-radius: 5px;   
    top:120px;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 2px 6px #CACACA;
    background-color: #fff;
    z-index:2000;
}

.chat-header{
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: move;
    border-bottom: 1px solid #ddd;
}

.chat-header #close{
    float: right;
    cursor: pointer;
    width: 30px;
    text-align: center;
}

.chat-friend-list{
    float: left;
    height: 450px;
    width: 170px;
    background-color: #fff;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-friend-list ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

.chat-friend-list li{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e1e1e8;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    display: block;
    padding: 10px 15px;    
}

.chat-friend-list li:hover{
    background-color:#eee;
}

.friend .friend-avatar img{
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 3px;
}

.friend .friend-name{
    line-height: 24px;
}

.chat-content{
    float: left;
    height: 450px;
    width: 549px;
    border-left: 1px solid #ddd;
}

.chat-content .chat-board{
    background: #fff;
    height: 280px;
    box-shadow: 0px 0px 1px #EFEFEF;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-board .msg-left {
    margin: 10px;
    position: relative;
}

.chat-board .msg-left .arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 20px;
    left: 37px;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #E4E4E4;    
}

.chat-board .msg-left .avatar img{
    float: left;
    height: 32px;
    width: 32px;
    border-radius: 3px;
}

.chat-board .msg-left .msg {
    background: #eee;
    max-width: 420px;
    float: left;
    margin-left: 10px;
    padding: 7px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    word-wrap: break-word;
}

.chat-board .msg-right {
    margin: 10px;
    position: relative;
}

.chat-board .msg-right .arrow{
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 20px;
    right: 37px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #d9edf7;    
}

.chat-board .msg-right .avatar img{
    float: right;
    height: 32px;
    width: 32px;
    border-radius: 3px;
}

.chat-board .msg-right .msg {
    float: right;
    max-width: 420px;
    margin-right: 10px;
    padding: 7px;
    color: #31708f;
    border-radius: 4px;
    font-size: 14px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    word-wrap: break-word;
}

.chat-board .img-thumb{
    width: 100%;
}
.chat-board .name {
    font-weight: 600;
}

.name .time{
    font-weight: normal;
}
.chat-board .msg-sys .msg {
    color: rgb(187, 15, 15);
    font-size: 14px;
    text-align: center;
    padding: 5px;
    word-wrap: break-word;
}

.chat-content .chat-control{
    background: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 10px;
    position: relative;
}

.chat-control #emoji{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/LearningCommunity/resources/images/icon.png);
    background-position: 0 0;
    background-size: cover;
    cursor: pointer;
}

.chat-control .sendImage{
    display: inline-block;
    width: 27px;
    height: 20px;
    background-image: url(/LearningCommunity/resources/images/icon.png);
    background-position: -21px 0px;
    background-size: cover;    
    cursor: pointer;
}

.chat-control .imageLable {
    position: relative;
    cursor: pointer;
}
.chat-control #sendImage {
    position: absolute;
    width: 28px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

.chat-control #clearBtn{
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url(/LearningCommunity/resources/images/icon.png);
    background-position: -48px 0px;
    background-size: cover;    
    cursor: pointer;
}

.chat-control #sendTo{
    display: inline-block;
    padding: 1px 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;    
}

.chat-control .to{
    color:#777;
}

.chat-control .control-icon{
    margin-left: 5px;
}
.chat-control  #index_send {
    padding: 10px;
    position: relative;
}

.chat-control #msg-textarea {
    width: 397px;
    padding: 10px;
    height: 90px;
    resize: none;
    border: 1px solid #CCC;
    box-shadow: inset 1px 1px 2px #E5E5E5;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    font-family: 'Microsoft Yahei';
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 10px;
    float: left;
}

.chat-control #send-notice {
    position: absolute;
    height: 23px;
    bottom: 11px;
    right: 136px;
    font-size: 13px;
    color: #666;
}

.chat-control #emojiWrapper{
    width: 530px;
    bottom: 174px;
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;
}

.chat-control #emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid #eee;
}

.chat-control img {
    max-width: 99%;
}

.chat-control .btn{
    height: 110px;
    margin-left: 10px;
    width: 100px;    
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;    
}

.chat-control .btn-blue{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.chat-control .btn-blue:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.chat-control .to{
    float: right;
}

.rich-text html,.rich-text address,.rich-text blockquote,.rich-text body,.rich-text dd,.rich-text div,
.rich-text dl,.rich-text dt,.rich-text fieldset,.rich-text form,.rich-text frame,.rich-text frameset,
.rich-text h1,.rich-text h2,.rich-text h3,.rich-text h4,.rich-text h5,.rich-text h6,.rich-text noframes,
.rich-text ol,.rich-text p,.rich-text ul,.rich-text center,.rich-text dir,.rich-text hr,.rich-text menu, 
.rich-text pre { display: block }
.rich-text li { display: list-item }
.rich-text head { display: none }
.rich-text table { display: table }
.rich-text tr { display: table-row }
.rich-text thead { display: table-header-group }
.rich-text tbody { display: table-row-group }
.rich-text tfoot { display: table-footer-group }
.rich-text col { display: table-column }
.rich-text colgroup { display: table-column-group }
.rich-text td,.rich-text  th { display: table-cell; }
.rich-text caption { display: table-caption }
.rich-text th { font-weight: bolder; text-align: center }
.rich-text caption { text-align: center }
.rich-text body { margin: 8px; line-height: 1.12 }
.rich-text h1 { font-size: 2em; margin: .67em 0;line-height: 1.5em }
.rich-text h2 { font-size: 1.5em; margin: .75em 0;line-height: 1.5em }
.rich-text h3 { font-size: 1.17em; margin: .83em 0;line-height: 1.5em }
.rich-text h4 { font-size: 1.09em; margin: 1.12em 0;line-height: 1.5em }
.rich-text h4,.rich-text p,.rich-text blockquote,.rich-text ul,.rich-text fieldset, .rich-text form,.rich-text ol,.rich-text dl,.rich-text dir,.rich-text menu { margin: 1.12em 0 }
.rich-text h5 { font-size: .83em; margin: 1.5em 0;line-height: 1.5em }
.rich-text h6 { font-size: .75em; margin: 1.67em 0;line-height: 1.5em }
.rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6, .rich-text b,.rich-text strong { font-weight: bolder }
.rich-text blockquote { margin-left: 40px; margin-right: 40px }
.rich-text i, .rich-text cite, .rich-text em,.rich-text var,.rich-text address { font-style: italic }
.rich-text pre, .rich-text tt,.rich-text  code,.rich-text  kbd,.rich-text samp { font-family: monospace }
.rich-text pre { white-space: pre }
.rich-text button,.rich-text textarea,.rich-text input,.rich-text object,.rich-text select { display:inline-block; }
.rich-text big { font-size: 1.17em }
.rich-text small, .rich-text sub, .rich-text sup { font-size: .83em }
.rich-text sub { vertical-align: sub }
.rich-text sup { vertical-align: super }
.rich-text table { border-spacing: 2px; }
.rich-text thead, .rich-text tbody,.rich-text tfoot { vertical-align: middle }
.rich-text td, .rich-text th { vertical-align: inherit }
.rich-text s, .rich-text strike,.rich-text  del { text-decoration: line-through }
.rich-text hr { border: 1px inset }
.rich-text ol, .rich-text ul,.rich-text  dir, .rich-text menu, .rich-text dd { margin-left: 40px }
.rich-text ol { list-style-type: decimal }
.rich-text ol ul,.rich-text ul ol, .rich-text ul ul, .rich-text ol ol { margin-top: 0; margin-bottom: 0 }
.rich-text u,.rich-text ins { text-decoration: underline }
.rich-text br:before { content: "A" }
.rich-text :before, .rich-text :after { white-space: pre-line }
.rich-text center { text-align: center }
.rich-text abbr,.rich-text acronym { font-variant: small-caps; letter-spacing: 0.1em }
.rich-text :link,.rich-text :visited { text-decoration: underline }
.rich-text :focus { outline: thin dotted invert }
.rich-text BDO[DIR="ltr"] { direction: ltr; unicode-bidi: bidi-override }
.rich-text BDO[DIR="rtl"] { direction: rtl; unicode-bidi: bidi-override }
.rich-text *[DIR="ltr"] { direction: ltr; unicode-bidi: embed }
.rich-text *[DIR="rtl"] { direction: rtl; unicode-bidi: embed }

