<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
    http://www.springframework.org/schema/hadoop
    http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

	<!-- 配置自动扫描的包,忽略Controller -->
	<context:component-scan base-package="com.lst.learningCommunity.hbase"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 自动装配 -->
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- Hadoop Configuration -->
	<hdp:configuration resources="classpath:/hbase-site.xml" />
	<hdp:hbase-configuration configuration-ref="hadoopConfiguration" />

	<!-- hbase configuration -->
	<bean id="hbaseTemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate"
		p:configuration-ref="hbaseConfiguration" />


	<!-- ////////////////// 上面是系统配置，下面是DAO配置 //////////////////////////////// -->

	<!-- ////////////////// 上面是DAO配置，下面是Hbase创建配置 //////////////////////////////// -->

	<!-- 表名配置 -->
	<util:list id="hbaseTableNames">
		<value>cloud_user</value>
		<value>cloud_hd</value>
		<value>cloud_image</value>
		<value>cloud_log</value>
		<value>cloud_mapfile</value>
		<value>cloud_pano</value>
		<value>cloud_space</value>
		<value>cloud_threeD</value>
		<value>cloud_dustbin</value>
	</util:list>

	<!-- 列族名配置 -->
	<util:list id="hbaseTableColumnNames">
		<value>attr</value>
		<value>var</value>
	</util:list>

	<bean id="createHbase" class="com.lst.learningCommunity.hbase.CreateHbaseTable">
		<constructor-arg name="mHbaseTemplate" ref="hbaseTemplate"></constructor-arg>
		<constructor-arg name="mNameList" ref="hbaseTableNames"></constructor-arg>
		<constructor-arg name="mColumnList" ref="hbaseTableColumnNames"></constructor-arg>
	</bean>

</beans>

