<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- 配置 hibernate 的基本信息 -->

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">lst</property>
		<property name="hibernate.connection.url">jdbc:mysql://121.248.199.34:3306</property>
		<property name="hibernate.connection.username">lst</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!-- hibernate 所使用的数据库方言 -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!-- 执行操作时是否在控制台打印 SQL ,为了进行测试，我们需要打印sql语句 -->
		<property name="show_sql">true</property>

		<!-- 是否对 SQL 进行格式化 -->
		<property name="format_sql">true</property>

		<!-- 设置数据隔离级别 -->
		<property name="connection.isolation">2</property>

		<mapping class="com.lst.lc.entities.Admin" />
		<mapping class="com.lst.lc.entities.Direction" />
		<mapping class="com.lst.lc.entities.Category" />
		<mapping class="com.lst.lc.entities.Blog" />
		<mapping class="com.lst.lc.entities.BlogComment" />
		<mapping class="com.lst.lc.entities.Course" />
		<mapping class="com.lst.lc.entities.CourseLesson" />
		<mapping class="com.lst.lc.entities.LessonComment" />
		<mapping class="com.lst.lc.entities.Question" />
		<mapping class="com.lst.lc.entities.QuestionAnswer" />
		<mapping class="com.lst.lc.entities.Rank" />
		<mapping class="com.lst.lc.entities.User" />
		<mapping class="com.lst.lc.entities.StudyRoute" />
		<mapping class="com.lst.lc.entities.RelCourseRoute" />
		<mapping class="com.lst.lc.entities.RelUserCourse" />
		<mapping class="com.lst.lc.entities.RelUserRoute" />
		<mapping class="com.lst.lc.entities.RelCourseRouteId" />
		<mapping class="com.lst.lc.entities.RelUserCourseId" />
		<mapping class="com.lst.lc.entities.RelUserRouteId" />
		<mapping class="com.lst.lc.entities.BlogTag" />
		<mapping class="com.lst.lc.entities.QuestionTag" />
		<mapping class="com.lst.lc.entities.Feedback" />

	</session-factory>
</hibernate-configuration>